<div class="bg-blue-500 text-white p-4 flex flex-col gap-6">
    <div class="font-bold text-center text-4xl">Nhan Nguyen</div>
    <div class="text-center italic text-xl break-words"> " I am a web developer from Vietnam with over 5 years of
        experience in web development, specializing in Angular. " </div>
    <div class="flex flex-col gap-1">
        <div class="text-right"><a href="linkedin.com/in/hoainhaannguyen">linkedin.com/in/hoainhaannguyen</a></div>
        <div class="text-right"><a href="github.com/hoainhaannguyen94">github.com/hoainhaannguyen94</a></div>
    </div>
</div>

<div class="p-4">
    <div class="font-bold">Skills</div>
    <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>TypeScript</li>
        <li>SCSS</li>
        <li>MEAN stack</li>
        <li>Vercel</li>
        <li>Docker</li>
        <li>Others: Luxon, Lodash, Zod, Leaflet, ...</li>
    </ul>
</div>

<div class="p-4">
    <div class="font-bold">Certificates</div>
    <ul class="list-inside list-disc">
        <li class="break-words"><a href="https://www.hackerrank.com/certificates/e957590e6098">Hackerrank - Angular
                (Intermediate) Certificate</a></li>
        <li class="break-words"><a href="https://interstate21.com/certificate/?code=3L12N3J">Angular Training - Angular
                Certification Level 3</a></li>
    </ul>
</div>

<div class="p-4">
    <div class="font-bold">Bobbies</div>
    <ul class="list-inside list-disc">
        <li>Reading books</li>
        <li>Listening to music</li>
        <li>Traveling</li>
        <li>GYM</li>
    </ul>
</div>
