:root {
    --font-base-size: 16px;
    --font-base-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07), 0px 1.6px 3.6px rgba(0, 0, 0, 0.11);

    --scrollbar-size: 10px;
    --scrollbar-track: rgba(0, 0, 0, 0);
    --scrollbar-thumb: rgba(0, 0, 0, .3);
    --scrollbar-thumb-hover: rgba(0, 0, 0, .6);
    --scrollbar-border-radius: 4px;

    // Override Global Variables
    -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
    :root {
        // TODO
        // ...
    }
}
